@model IEnumerable<Restaurant.Models.ProdusModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gramaj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantitate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unitate_masura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gramaj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantitate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unitate_masura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
